# 1.Import Libraries

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
# create path
path = r'C:\Users\supri\Desktop\Supriya\DataAnalysis\Project\Data Immersion\Achievement 1-2\Boat_Sales'

# 2.Import Data

In [5]:
# import boat_data.csv
df_boat = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'boat_data.csv'), index_col = False)

In [6]:
#Check the df
df_boat.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [7]:
# check the shape of df
df_boat.shape

(9888, 10)

In [8]:
# check info 
df_boat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB

In [9]:
df_boat.describe()

        Year Built       Length        Width  Number of views last 7 days
count  9888.000000  9879.000000  9832.000000                  9888.000000
mean   1893.192860    11.570017     3.520124                   149.160801
std     460.201582     6.002820     1.220534                   151.819752
min       0.000000     1.040000     0.010000                    13.000000
25%    1996.000000     7.470000     2.540000                    70.000000
50%    2007.000000    10.280000     3.330000                   108.000000
75%    2017.000000    13.930000     4.250000                   172.000000
max    2021.000000   100.000000    25.160000                  3263.000000

# 3.Data Wrangling

In [10]:
# Extract the 3-letter currency code from the beginning of each price string and save in new column 'Currency'
df_boat['Currency'] = df_boat['Price'].str[:3]

In [11]:
# Currency frequency values
df_boat['Currency'].value_counts(dropna = False)

Currency
EUR    8430
CHF     980
Â£      298
DKK     180
Name: count, dtype: int64

In [12]:
#Removes everything except digits
df_boat['Price'] = df_boat['Price'].str.replace(r'\D', '', regex=True)

In [13]:
#Check the df
df_boat.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR

In [14]:
# change data type of price to interger so that we can convert all curriencies to similar
df_boat['Price'] = df_boat['Price'].astype('int')

In [20]:
# converting currency into euro
def europrice(Price,Currency):
    if Currency=='CHF':
        return Price * 1.02
    elif Currency=='DKK':
        return Price * 0.13
    elif Currency=='Â£':
        return Price * 1.17
    else:
        return Price
df_boat['EUR Price'] = df_boat.apply(lambda x: europrice(x.Price, x.Currency), axis=1)

In [22]:
#Check output
df_boat.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency,EUR Price
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3403.74
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490.00
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,3845.40
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,3367.00
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399.00

In [23]:
# Extract country,city and standing point from the Location 
df_boat[['Country', 'City', 'Standing_point']] = df_boat['Location'].str.extract(r'([^Â»]+)Â»([^Â»]+)Â»(.+)', expand=True)

In [24]:
# check the df
df_boat.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency,EUR Price,Country,City,Standing_point
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3403.74,Switzerland,Lake Geneva,VÃ©senaz
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490.00,NaN,NaN,NaN
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,3845.40,Switzerland,Lake of Zurich,StÃ¤fa ZH
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,3367.00,NaN,NaN,NaN
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399.00,Germany,Bayern,MÃ¼nchen

In [26]:
# extract Country and City from Location
df_boat[['Country1','City1','Standing_point1']] = df_boat['Location'].str.split('Â»', n=2, expand=True)

In [27]:
# check the dataframe
df_boat.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency,EUR Price,Country,City,Standing_point,Country1,City1,Standing_point1
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3403.74,Switzerland,Lake Geneva,VÃ©senaz,Switzerland,Lake Geneva,VÃ©senaz
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490.00,NaN,NaN,NaN,Germany,BÃ¶nningstedt,None
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,3845.40,Switzerland,Lake of Zurich,StÃ¤fa ZH,Switzerland,Lake of Zurich,StÃ¤fa ZH
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,3367.00,NaN,NaN,NaN,Denmark,Svendborg,None
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399.00,Germany,Bayern,MÃ¼nchen,Germany,Bayern,MÃ¼nchen

In [28]:
# Drop the redundant columns
df_boat = df_boat.drop(['Price','Currency','Location','Standing_point','Country','City','Standing_point1'], axis = 1)

In [29]:
#Check the df
df_boat.head()

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,EUR Price,Country1,City1
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,226,3403.74,Switzerland,Lake Geneva
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,3490.00,Germany,BÃ¶nningstedt
2,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,3845.40,Switzerland,Lake of Zurich
3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,64,3367.00,Denmark,Svendborg
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,3399.00,Germany,Bayern

# 4.Data Cleaning

In [30]:
# Check for Missing values
df_boat.isnull().sum()

Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Number of views last 7 days       0
EUR Price                         0
Country1                         36
City1                           943
dtype: int64

In [32]:
#Filling length and width with mean values
df_boat['Length'] = df_boat['Length'].fillna(df_boat['Length'].median())
df_boat['Width'] = df_boat['Width'].fillna(df_boat['Width'].median())

In [34]:
#Filling country1 and city1 with unknown values
df_boat['Country1'] = df_boat['Country1'].fillna('Unknown')
df_boat['City1'] = df_boat['City1'].fillna('Unknown')

In [35]:
# check the shape of df
df_boat.shape

(9888, 11)

In [36]:
# Statistical analysis
df_boat.describe()

,Year Built,Length,Width,Number of views last 7 days,EUR Price
count,9888.000000,9888.000000,9888.000000,9888.000000,9.888000e+03
mean,1893.192860,11.568843,3.519047,149.160801,2.992003e+05
std,460.201582,6.000213,1.217156,151.819752,9.587602e+05
min,0.000000,1.040000,0.010000,13.000000,3.224000e+03
25%,1996.000000,7.470000,2.550000,70.000000,4.296500e+04
50%,2007.000000,10.280000,3.330000,108.000000,9.249350e+04
75%,2017.000000,13.920000,4.250000,172.000000,2.451088e+05
max,2021.000000,100.000000,25.160000,3263.000000,3.100000e+07

In [37]:
# Drop the column 'year built' with 0
df_boat_clean = df_boat.loc[df_boat['Year Built'] != 0]

In [38]:
# check for duplicates
df_boat_clean_dups = df_boat_clean[df_boat_clean.duplicated()]

In [40]:
# check for mixed data type
for col in df_boat_clean.columns.tolist():
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_boat_clean[weird]) > 0:
    print (col)

Manufacturer
Type
Material

C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)

In [43]:
#INspect the data to identigy rows with mixed data
print(df_boat_clean[['Manufacturer', 'Type', 'Material']].dtypes)

Manufacturer    object
Type            object
Material        object
dtype: object

In [45]:
#Convert columns to a single type 
df_boat_clean.loc[:, 'Manufacturer'] = df_boat_clean['Manufacturer'].astype(str)
df_boat_clean.loc[:, 'Type'] = df_boat_clean['Type'].astype(str)
df_boat_clean.loc[:, 'Material'] = df_boat_clean['Material'].astype(str)

In [50]:
#Decode the string to correct the characters to resolve the character encoding issues, where special characters are not rendered properly.
df_boat_clean.loc[:, 'Manufacturer'] = df_boat_clean['Manufacturer'].apply(
    lambda x: x.encode('latin1', errors='ignore').decode('utf-8', errors='ignore') if isinstance(x, str) else x
)

In [53]:
# drop the other missing values
df_boat_clean = df_boat_clean.dropna()

In [54]:
# check for the shape of the cleaned dataframe
df_boat_clean.shape

(9337, 11)

In [55]:
# check for mixed data type
for col in df_boat_clean.columns.tolist():
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_boat_clean[weird]) > 0:
    print (col)

C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\supri\AppData\Local\Temp\ipykernel_34412\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)

# 5Export the Dataframe

In [56]:
#Export the df
df_boat_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'boat_data_cleaned.csv'))